.btn {
    border-radius: 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}

.btn:hover {
    background-color: black;
    color: white;
}

.active-button,
.active-button:hover {
    background-color: $bright-yellow;
    color: black;
}

.active-button:focus {
    background-color: $bright-yellow;
    color: black;
}

.submit-search-btn {
    border-radius: 0;
    border-color: $olive-green;
}
