.btn {
    border-radius: 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}

.active-button {
    background-color: rgb(212, 255, 0);
    color: black;
}