.card,
.card-img-top {
    background-color: black;
    color: white;
    border-radius: 0;
}

.movie-wrapper {
    display: flex;
    width: 100vw;
}

.card.movie-card {
    border: none;
}

.border-img {
    padding: 10px;
    border: 1px solid white;
}