.search-form {
    width: 70vw;
    border-radius: 0;
    border: 1px solid white;
}

.form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.form-control:focus {
    border-color: $olive-green;
    box-shadow: none;
}