.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image-container {
    max-height: 30vh;
    overflow: hidden;
}
