h1,
a.nav-link {
    font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
a {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.movie-card-title,
p.card-text {
    font-size: .8rem;
    margin-bottom: 8px;
}

.vote-average {
    background-color: white;
    color: black;
    padding: 5px;
    font-weight: 800;
}

h2,
h3,
h4,
h5,
h6,
a,
p,
.form-wrapper,
.page {
    font-family: 'Karla', sans-serif;
}

.page {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.movie-title {
    font-style: oblique;
}

.text-border {
    padding: 5px;
    border-top: 1px solid $gold;
    border-bottom: 1px solid $gold;
}

.list-item.sm {
    font-size: .65rem;
}

hr {
    color: $gold;
}