h1 {
    // font-family: 'Moirai One', cursive;
    // font-family: 'Silkscreen', cursive;
    font-family: 'Bungee Hairline', cursive;
    font-weight: 500;
}

h1,
h2,
a {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h2,
h3,
h4,
h5,
h6,
button,
a,
p,
.form-wrapper {
    font-family: 'Karla', sans-serif;
}