@import 'bootstrap/scss/bootstrap';
@import 'button';
@import 'card';
@import 'config';
@import 'form';
@import 'hero';
@import 'list';
@import 'loading_spinner';
@import 'nav';
@import 'pagination';
@import 'text';

body {
    background-color: black;
    height: 100%;
}

.form-control:focus {
    border-color: $gold;
    box-shadow: none;
  }