@import 'bootstrap/scss/bootstrap';
@import 'config';
@import 'nav';
@import 'form';
@import 'text';
@import 'loading_spinner';
@import 'pagination';

body {
    background-color: black;
}

.btn {
    border-radius: 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}

.card,
.card-img-top {
    background-color: black;
    color: white;
    border-radius: 0;
}

.list-group {
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-item {
    display: flex;
    justify-content: center;
    background-color: black;
    border: none;
    margin: 10px 10px 10px 0px;
    width: 250px;
}

.list-group-sm {
    width: inherit;
}

.list-item.sm {
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem;
    background-color: black;
    border: none;
    padding: 2px;
    margin: 10px 10px 10px 0px;
    width: 200px;
    flex-direction: column;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.movie-wrapper {
    display: flex;
    width: 100vw;
}

.border-img {
    padding: 10px;
    border: 1px solid white;
}